@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "roboto"; 
    color: #12100C;}

.body{
    max-width: 1440px;
    background-color:#F5F3F4;
}

.html{
    background-color: #E5E5E5;
}

.navigation {
    padding: 0px 32px;
}

.navigation-list{
    max-width: 613px;
    gap: 0px 48px;
}

.login-in{
    color: #f9f9f9;
    background-color: #12100C;
    padding: 6px 22px;
    border-radius: 12px;
}

.header{
    max-width: 1200px;
}

.header-workspace{
    margin-top: 15px;
}

.header-title{
    font-size: 80px;
    margin-top: 139px;
    line-height: 88px;
}

.header-text{
    margin-top: 32px;
    font-size: 23px;
    line-height: 32px;
}

.button{
    font-size: 18px;
    line-height: 22.5px;
    background-color: #FFAE33;
    border-radius: 16px;
    padding: 11.5px 46px;
}

.header-area{
    margin-top: 48px;
    display: flex;
}

.header-text-area{
    font-size: 16px;
    line-height: 24px;
    padding-left: 24px;
}

.header-imagies{
    max-width: 160px;
    margin-top: 16px;
}

.main{
    max-width: 1200px;
    background-color: #F5F3F4;
}

.main-title{
    margin-top: 68px; 
}

.main-title-text{
    max-width: 600px;
}

.main-subtitle{
    font-size: 32px;
    line-height: 40px;
}

.main-subject{
    font-size: 24px;
    line-height: 32px;
    margin-top: 58px;
}

.btn-group{
    margin-top: 85px;
}

.btn-more,.btn-more-sec{
    font-size: 14px;
    line-height: 16px;
    background-color: #FFAE33;
    border-radius: 10.5px;
    padding: 8px 16px;
}

.btn-doc,.btn-doc-sec{
    font-size: 14px;
    line-height: 16px;
    background-color: #FFB0AE;
    border-radius: 10.5px;
    padding: 8px 22px;
    margin-left: 16px;
}

.main-section-title{
    margin-top: 68px;
}

.main-section{
    margin: 160px 0px;
}

.section-subtitle{
    font-size: 32px;
    line-height: 40px;
}

.section-subject{
    font-size: 24px;
    line-height: 32px;
    margin-top: 25px;
}

.btn-group-section{
    margin-top: 85px;
}

.description{
    margin-top: 177px;
}

.desc{
    font-size: 54px;
    line-height: 71.8px;
    position: relative; top: -34px;
}

.img-desc{
    margin-top: 47px;
}

.desc-text{
    font-size: 24px;
    line-height: 32px;
    padding: 25px 216px;
    margin-top: 25px;
}

.btn-group-desc{
    padding: 0px 435px;
}

.btn-chrome,.btn-firefox{background-color:#ffffff;
    padding: 7px 12px 8px 16px;
    border-radius: 15px;
}

.wrapper-text-title{
    font-size: 54px;
    line-height: 63.7px;
    margin-top: 177px;
}

.wrapper-text{
    margin-top: 48px;
}

.world-links{
    justify-content: center;
    padding: 25px 0px;
    flex-flow: row wrap;
    gap: 50px 25px;
}

.more-all{
    margin-top: 178px;
}

.more-all-connect{
    background-color: #ffffff;
    max-width: 642px;
    border-radius: 20px;
}

.more-all-text{
    font-size: 54px;
    line-height: 71.8px;
}

.more-all-title{
    margin-top: 48px;
    max-width: 642px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0px 50px;
}

.more-all-connect-git{
    font-size: 32px;
    line-height: 40px;
    margin-top: 56px;
}

.more-all-text-git{
    font-size:24px;
    line-height: 21.9px;
    margin-top: 8px;
}

.gitlab{
    background-color: #FC6D26 ;
}

.github{
    background-color: #000000;
    margin: 16px 0px;
}

.bucket{
    background-color: #2684FF;
}

.gitlab,.github,.bucket{
    color: #ffffff;
    justify-content: center;
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 0px;
}

.launch-content{
    background-color: #ffffff;
    max-width: 642px;
    border-radius: 20px;
    margin-top: 48px;
    padding: 0px 71px;
    padding-bottom: 48px;
}

.workspaces{
    font-size: 32px;
    line-height: 40px;
    margin-top: 56px;
}

.workspace-example{
    font-size: 23px;
    line-height: 21.9px;
    margin-top: 7px;
    margin-bottom: 32px;
}

.launch-list{
    flex-direction: column;
    gap: 12px 0px;
}

.node,.python,.go,.rust,.java,.svelte{
    padding: 14.5px 15px;
    border-radius: 12px;
    background-color: #F9F9F9;
}

.img-node,.img-python,.img-go,.img-rust,.img-java,.img-svelte{
    margin-right: 16px;
}

.launch{
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #12100C;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
}

.node-charge,.python-charge,.go-charge,.rust-charge,.java-charge,.svelte-charge{
    align-content: center;
}

.logo-name{
    align-self: center;
    font-size: 20px;
}

.footer{
    padding-bottom: 48px;
    margin-top: 160px;
}

.basement{
    max-width: 900px;
    padding-bottom: 48px;
}

.cellar{
    max-width: 852px;
    margin-top: 46px;
}

.gitpod-list{
    max-width: 100px;
}

.developer-list{
    max-width: 87px;
}

.company{
    max-width: 56px;
}

.legal{
    max-width: 98px;
}

.wrapp-link{
    font-weight: 700;
    line-height: 19.5px;
}

.list-part{
    line-height: 19.5px;
    margin-top: 8px;
}

.star{
    color:#FF8A00; position: relative; top: -7px; right: -6px;
}
    
.copyright{
    margin-top: 48px;
}

.all-logo{   
    max-width: 104px;
    gap: 0px 16px;
}

.copyright-gitpod{
    margin-left: 16px;
}

.node-charge,.python-charge,.go-charge,.rust-charge,.java-charge,.svelte-charge,.copyright-gitpod,.all-logo,.copyright,.logo-copyright,
.cellar,.node,.python,.go,.rust,.java,.svelte,.launch-list,.gitlab,.github,.bucket,.more-all,.world-links,.wrapper-text,
.btn-chrome,.btn-firefox,.btn-group-desc,.main-section,.main-title,.header-imagie,.header-are,.header,.navigation-list,.navigation,
.btn-group-hub{
    display: flex;
}

.node,.python,.go,.rust,.java,.svelte,.all-logo,.copyright,.cellar,.more-all,.wrapper-text,.btn-group-desc,.main-title,.header-imagies,
.header,.navigation{
    justify-content: space-between;
}

.node,.python,.go,.rust,.java,.svelte,.copyright-gitpod,.gitlab,.github,.bucket,.world-links,.btn-chrome,.btn-firefox,.navigation-list,
.navigation{
     align-items: center;
}

.cellar,.basement,.btn-group-prefix,.btn-group-hub,.main,.header,.body{
    margin: 0 auto;
}

.list-part,.wrapp-link{
    font-size: 13px;
}

.workspaces,.more-all-connect-git,.more-all-text,.wrapper-text-title,.desc,.section-subtitle,.btn-doc,.btn-doc-sec,.btn-more,.btn-more-sec,
.main-subtitle,.header-title,.button{
    font-weight: bold;
}

.workspace-example,.workspaces,.more-all-text-git,.more-all-connect-git,.more-all-text,.wrapper-text-title,.desc{
    text-align: center;}

.list-part,.text-rust,.text-java,.text-svelte,.text-node,.text-phyton,.text-go,.Launch-node,.launch-python,.launch-go,.launch-rust,
.launch-java,.launch-svelte,.workspace-example,.more-all-text-git,.desc-text,.section-subject,.main-subject,.header-text-area,
.header-text{
    font-weight: 400;
}

.list-part,.text-rust,.text-java,.text-svelte,.text-node,.text-phyton,.text-go,.workspace-example,.btn-group-prefix,.more-all-text-git,
.desc-text,.section-subject,.main-subject,.header-text-area,.header-text,.list-nav{
    opacity: .7;}

.btn-group-hub{
    max-width: 262px;
    flex-direction: column;
    margin-top: 64px;
}

.btn-group-prefix{
    font-size: 24px;
    max-width: 486px;
    margin-top: 64px;
    margin-bottom: 80px;
}




